<% content_for :breadcrumb do %>
  <!--------------------
  START - Breadcrumbs
  -------------------->
  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <span>Introduction</span>
    </li>
  </ul>
  <!--------------------
  END - Breadcrumbs
  -------------------->
  <% end %>
<div class="col-sm-12">
  <div class="element-wrapper">
    <h6 class="element-header">
     Introduction
    </h6>
    <div class="element-box">
        Project management is the discipline of managing all the different resources and aspects of the project in such a way that the resources will deliver all the output that is required to complete the project within the defined scope, time, and cost constraints.
    </div>
  </div>
</div>
